<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h3>Nishikawaさん「私の名前の漢字を答えてください。」</h3>
    <div class='col-md-5'>
      <%= link_to '西河さん', correct_path, class: "btn btn-success btn-sm btn-block" %>
      <%= link_to '西川さん', danger_path, class: "btn btn-primary btn-sm btn-block"%>
    </div>
  </div>
</div>
