<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10'>
      <h1>クイズ：正解したら７点をあげます。</h1>

      <h1>一刀さんのお子さんの名前は何でしょう？</h1>

      <h2>ゆずるくん</h2>
      <h2>かずやくん</h2>
      <h2>かずあきくん</h2>
      <h2>なごみくん</h2>
      <h2>いづるくん</h2>
      <h2>じょうたろうくん</h2>
      <h2>たつみくん</h2>
      <h2>幻の銀次くん</h2>
      <h2>まさきくん</h2>
    </div>
  </div>
</div>
