<div class='container'>
  <div class="row">
    <h1>何故押すなと言ったのに押したのでしょう？</h1><br>
    <h1>今なら下のボタンを押さずに、戻ってもいいですよ。</h1>
  </div>
  <div class='row'>
    <a href="/dangerbtn" class="btn-real-dent">
      <i class="fas fa-exclamation-triangle"></i>
    </a>
  </div>
</div>
